<!DOCTYPE html>
<html lang="en-us" ng-app="myApp" ng-controller="myCtrl">
<head>
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-hotkeys/build/hotkeys.css" />
  <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
  <!-- endbower -->
  <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
  <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  <link rel="stylesheet" type="text/css" href="stylesheets/tour-demo.css" media="screen">
</head>

<body ng-controller="myCtrl" ui-tour>
<!--body ui-tour-->
Test
<a ng-click="tour.start()">Start Demo Tour</a>

<div class="center">

<p tour-step
   tour-step-title="Step 001!"
   tour-step-content="step one content"
   tour-step-order="10"
   tour-step-placement="left">
   step 001 paragraph step 001 paragraph step 001 paragraph step 001 paragraph step 001 paragraph step 001 paragraph step 001 paragraph step 001 paragraph step 001 paragraph step 001 paragraph step 001 paragraph step 001 paragraph step 001 paragraph step 001 paragraph step 001 paragraph step 001 paragraph </p>

<p tour-step
   tour-step-title="Step 002!"
   tour-step-content="step two content"
   tour-step-order="20"
   tour-step-placement="left">
   step 002 paragraph step 002 paragraph step 002 paragraph step 002 paragraph step 002 paragraph step 002 paragraph step 002 paragraph step 002 paragraph step 002 paragraph step 002 paragraph step 002 paragraph step 002 paragraph step 002 paragraph step 002 paragraph step 002 paragraph step 002 paragraph step 002 paragraph step 002 paragraph step 002 paragraph </p>

<p tour-step
   tour-step-title="Step 003!"
   tour-step-content="step three content"
   tour-step-order="30"
   tour-step-placement="left">
   step 003 paragraph step 003 paragraph step 003 paragraph step 003 paragraph step 003 paragraph step 003 paragraph step 003 paragraph step 003 paragraph step 003 paragraph step 003 paragraph step 003 paragraph step 003 paragraph step 003 paragraph step 003 paragraph </p>

</div>

 <!--dependencies:js-->
 <script src="bower_components/angular/angular.js"></script>
 <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
 <script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
 <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
 <script src="bower_components/ez-ng/dist/ez-ng.js"></script>
 <script src="bower_components/angular-hotkeys/build/hotkeys.js"></script>
 <!--end dependencies-->

<!--Angular UI Tour-->

<script src="bower_components/angular-ui-tour/dist/angular-ui-tour.js"></script>

<script src="app.js"></script>

</body>
</html>