<body ui-tour>
    <div id="mainMenu"
      tour-step
      tour-step-title="Main Menu"
      tour-step-content="Navigate the site using this menu."
      tour-step-order="0"
      tour-step-placement="right">...</div>
    ...
    <div id="settings"
    tour-step tour-step-title="Settings"
    tour-step-content="Click here to change your settings."
    tour-step-order="1">...</div>
    
    <div id="finalTourMessage"
    tour-step tour-step-title="Welcome!"
    tour-step-content="Enjoy using the app!"
    tour-step-order="1000" tour-step-orphan="true"
    tour-step-backdrop="true">...</div>
</body>


<!-- fixed element -->
<body ui-tour>
    <header style="position: fixed;"
    tour-step tour-step-title="Header"
    tour-step-content="This header is fixed at the top."
    tour-step-order="0"
    tour-step-fixed="true">...</header>
</body>


<!-- multi-page tour -->
<!-- layout -->
<body ui-tour>
    <!-- page 1: included using ngView (/page1) -->
    <div
    tour-step="page1step1" ...
    tour-step-next-path="page2"
    tour-step-next-step="page2step1">...</div>
    <!-- /page 1 -->

    <!-- page 2: ngView is populated when next step is requested after page1step1 -->
    <div
    tour-step="page2step1" ...
    tour-step-prev-path="page1"
    tour-step-prev-step="page1step1">...</div>
</body>
