<body ui-tour>
  <div tour-step tour-step-belongs-to="general"
       tour-step-order="1"
       tour-step-title="step 1"
       tour-step-content="this is step 1">
  </div>
  <div tour-step tour-step-belongs-to="general"
       tour-step-order="2"
       tour-step-title="step 2"
       tour-step-content="this is step 2">
  </div>
</body>